#mini-banners {
    z-index: 10;
}

@media (min-width: 768px) {
    #mini-banners {
        margin-top: -3em;
    }
}

#mini-banners .col-12 {
    z-index: 1;
    height: 300px;
    padding: 1.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    #mini-banners .col-12 {
        max-width: 30%;
    }
}

#mini-banners .col-12 h2 {
    text-transform: uppercase;
    max-width: 50px;
    font-size: 2.2em;
    font-weight: 700;
    line-height: 1em;
}

#mini-banners .col-12 img {
    height: 220px;
    position: absolute;
    right: 1em;
    bottom: 1em;
}

#mini-banners .col-12 a {
    font-size: 1em;
    font-weight: bold;
    transition: 1s;
}

#mini-banners #mini-banner-1 a {
    color: #c09578;
}
#mini-banners #mini-banner-1 a:hover {
    color: #fff;
}

#mini-banners #mini-banner-2 a {
    color: #fff;
}
#mini-banners #mini-banner-2 a:hover {
    color: #101010;
}

#mini-banners #mini-banner-3 a {
    color: #101010;
}
#mini-banners #mini-banner-3 a:hover {
    color: #c09578;
}