#bottom-navbar-container {
    position: absolute;
    top: 0;
    width: 100%;
}

#bottom-navbar-container .container {
    justify-content: space-between;
}

@media (min-width: 768px) {
    #bottom-navbar-container {
        position: static;
    }
}

#bottom-navbar-container a {
    font-weight: 600;
    color: #fff;
}

.navbar-toggler {
    font-size: 1.5em;
}