.carousel-caption {
    margin-bottom: 0;
    opacity: 0.85;
}

@media (min-width: 768px) {

    #slider .carousel-item,
    #slider img {
        height: 600px;
    }

    .carousel-caption {
        margin-bottom: 5em;
        left: 23%;
        right: 23%;
        opacity: 1;
    }

    .carousel-caption h5 {
        font-size: 4em;
    }
}